.doge-widget div, .doge-widget a, .doge-widget em, .doge-widget img, .doge-widget b {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
    border:none;
    box-shadow:none;
}

.doge-widget-pay{
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 3px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
line-height:32px;
width:130px;
height:40px;
overflow:hidden;
z-index:1000;
}
.doge-widget {
position:relative;
}
.doge-widget-text {
position:absolute;
top:4px;
color:white;
left:3px;
overflow:hidden;
}

.doge-widget-pay:hover{
border:1px solid #1c5675;
background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
background-image: -moz-linear-gradient(top, #26759e, #133d5b);
background-image: -ms-linear-gradient(top, #26759e, #133d5b);
background-image: -o-linear-gradient(top, #26759e, #133d5b);
background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}
.doge-widget-icon {
width:32px;
height:32px;
left:3px;
position:absolute;
top:3px;
border:none;
}
.doge-widget-texts {
overflow:hidden;
width:0%;
}
.doge-widget-site-link {
left:2px;
width:0%;
top:2px;
}
.doge-widget-logo {
width:90px;
height:34px;
}
.doge-widget-pay-link, .doge-widget-received, .doge-widget-received-label {
left:37px;
overflow:hidden;
height:30px;
width:91px;
text-align:center; 
}
.doge-widget-received {
top:6px;
font-size:9px !important;
display:none;
font-weight:100;
}
.doge-widget-received-label {
top:15px;
display:none;
font-size:9px !important;
text-align:center;
}
.doge-widget-payment-address, .doge-widget-cancel-link  {
position: absolute;
top: 3px;
color: white;
left: 130px;
background-color: #333;
border-radius: 0px 2px 2px 0px;
border: 1px solid #777;
height: 34px;
z-index: 900;
opacity: 0;
padding-top: 2px;
font-size: 12px;
text-align: center;
border-left: none;
overflow:hidden;
}
.doge-widget-payment-address {
line-height: 33px !important;
font-size: 11px !important;
}
.doge-widget-cancel-link  {
height: 28px;
top: 6px;
background-color: #ddd;
line-height: 27px !important;
padding: 0 10px 0 10px !important;
z-index:800;
font-weight:bold;
font-size:12px !important;
}
.doge-widget-cancel-link a  {
color:red;
}
.primary {
color:#F39C12; 
}
.branding {
font-weight:bold;
}
.payment-address-color {
color:#72c5ff;
}